* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .325rem 2%;
}

.logo img{
  width: 120px;
  height: 60px;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color: #434851;
  font-size: 1rem;
  letter-spacing: 1px;
}

.menu-mobile {
  display: none;
  position: relative;
}

.icon {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.icon.active {
  background: none;
}

.menu-mobile-nav {
  display: none;
  flex-direction: column;
  background-color: blue; 
  padding: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  width: 40%;
  height: 100vh;
}

.menu-mobile-nav.active {
  display: flex;
  justify-content: center;
}


.menu-mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-mobile-nav ul li {
  margin-right: 10px;
}

.menu-mobile-nav ul li a {
  color: #fff;
}

.slides img {
  width: 100%;
  height: 79vh;
}

.title {
  text-align: center;
  margin-top: 10px;
}

.content {
  padding: 0 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5rem 0;
  gap: .625rem;
}

.cards {
  width: 280px;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cards-item {
  display: flex;
  flex-direction: column;
  gap: .825rem;
}

.cards-item img {
  width: 250px;
  height: 200px;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: #002774;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.info-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-form input, button {
  width: 350px;
  padding: .825rem;
  border-radius: 5px;
  border: none;
}

.info-form button {
  background-color: #16AFE8;
  cursor: pointer;
}

.titles {
  color: #fff;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 120px;
  height: 60px;
}

.animated-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.animated-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.animated-content h2 {
  margin-bottom: 20px;
  color: #333;
}

.animated-content p {
  color: #666;
  margin-bottom: 20px;
}

.animated-content ul {
  text-align: justify;
  list-style: none;
}

.animated-content ul li {
  margin-bottom: 10px;
  color: #444;
}

.courses-info {
  text-align: center;
  margin-top: 30px;
}

.courses-info h3 {
  margin-bottom: 10px;
  color: #333;
}

.courses-info input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.courses-info input:focus {
  border-color: #4b6cb7;
}

.animated-content ul li span {
  margin-right: 5px;
}

.content-admin {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 1.1rem 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: blue;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  width: 400px; 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content li {
  margin-bottom: 10px;
}

.modal-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.modal-btn {
  width: 100px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
  border-radius: 5px;
  padding: .225rem;
}
.form-login {
  background-color: #fff;
  border-radius: 5px;
  width: 40%;
  padding: 1rem;
  text-align: center;
}

.input-admin {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: .625rem;
  gap: 1rem;
}

.input-admin input {
  border-radius: 5px;
  border: none;
  background-color: #cbcbcb;
  padding: 1rem;
}

#btn {
  width: 100%;
  background-color: green;
  color: #fff;
  font-size: 1rem;
}

.form-admin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.adm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.adm-login {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  gap: 1rem;
}

.adm-login input {
  border-radius: 5px;
  border: none;
  background-color: #cbcbcb;
  padding: 1rem;
}

.adm-login label{
  font-weight: bold;
}

.content-dash {
  width: 100%;
  height: 89vh;
  background-color: #002774;
  padding: 1rem;
}

.flex-dash {
  display: flex;
  justify-content: space-between;
}

.datadash {
  color: #fff;
  height: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#btn-download {
  cursor: pointer;
  text-decoration: none;
  background-color: green;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

#btn-dash {
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icon-dash {
  font-size: 1.5rem;
  color: red;
}

.content-teacher {
  width: 100%;
  height: 89vh;
  padding: 1rem 0;
  background-color: #03B1E9;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-teacher {
  background-color: #002774;
  padding: 1rem;
  border-radius: 5px;
}

.inputs-teacher {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: .625rem;
  margin-bottom: 1rem;
}

#legend {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.inputs-teacher input {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.inputs-teacher button {
  font-size: 1rem;
  cursor: pointer;
}

.inputs-teacher button:hover{
  background-color: green;
  color: #fff;
}

.content-dash-teacher {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-color: #03B1E9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacher-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.teacher-details h3 {
  color: #fff;
}

.show-details {
  background-color: #fff;
  width: 200px;
  padding: 1rem .625rem;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.show-details p {
  color: #000;
}

.logout-icon {
  text-align: right;
}

.logout-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.content-add-grades {
  background-color: #fff;
  width: 70%;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.add-grades-form {
  display: flex;
  flex-direction: column;
}

.add-grades-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
}

.form-group select,
.form-group input[type='number'],
.form-group input[type='text'] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000 !important;
}

button[type='submit'] {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #03B1E9;
  color: #fff;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #037dad;
}

.center-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.custom-table th {
  background-color: green;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.custom-table tbody {
  background-color: #fff;
  text-align: center;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tbody tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 800px) {
  .content-admin {
    flex-direction: column;
    height: 100%;
  }

  .form-login {
    width: 300px;
  }

  .adm {
    width: 60%;
  }

  .form-admin {
    height: 100vh;
  }
}

@media screen and (max-width: 756px) {

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
      display: block;
  }

  .menu {
      display: none;
  }

  .content {
    flex-direction: column;
  }

  .form-admin {
    width: 100%;
  }

  .info-form form {
    width: 100%;
  }
  
  .info-form input, button {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .slides img {
    height: auto;
  }
}

@media screen and (max-width: 370px) {
  .slides img {
    height: 30vh;
  }

  .form-login {
    width: 270px;
  }
}